@-webkit-keyframes resize {
    50% {
        -webkit-transform: scale(1.3);
                transform: scale(1.3);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes resize {
    50% {
        -webkit-transform: scale(1.3);
                transform: scale(1.3);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}